/* STRUCTURE
------------------------------------*/
$s3_image_path: "https://s3-sa-east-1.amazonaws.com/autoavalia/";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	text-rendering: optimizelegibility;
	font-family: 'Poppins';
	color: #000;
}
.app {
	width: 100%;
	min-height: 100vh;
	position: relative;
	margin: 0 auto;
	background-color: #f3f5f8;
}
.container {
	width: calc(100% - 40px);
	height: auto;
	margin: 0 auto;
	position: relative;
	.header & {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.section--cards-auto-avalia &,
	.section--cards & {
		width: calc(100% - 16px);
	}

}
/* END STRUCTURE
------------------------------------*/
/* BUTTON
------------------------------------*/
.button {
	width: 100%;
	height: 49px;
	display: block;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	border: none;
	&--success {
		background-color: #50E3C2;
	}
}
/* END BUTTON
------------------------------------*/
/* SECTION
------------------------------------*/
.section {
	width: 100%;
	display: block;
	z-index: 1;
	&__title {
		color: #6b6b73;
		font-size: 1.8rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 7px;
		line-height: normal;
	}
	&__description {
		color: #8b8c99;
		font-size: 1.4rem;
		text-align: center;
		line-height: normal;
	}
	&--auto-avalia {
		background-color: #fff;
		padding: 50px 0 20px 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		.brand-auto-avalia {
			width: 175px;
			height: auto;
			display: block;
			margin: 0 auto 27px auto;
		}	
	}
	&--cards-auto-avalia {
		padding: 16px 0 0 0;
	}
	&--cards {
		padding: 16px 0 0 0;
	}
}
/* END SECTION
------------------------------------*/
/* HEADER
------------------------------------*/
.header {
	width: 100%;
	height: 59px;
	background-color: #fff;
	display: block;
	z-index: 2;
	&__brand {
		width: 127px;
		height: auto;
		display: block;
		margin: 0 auto;
		a {
			display: block;
			text-decoration: none;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}
/* END HEADER
------------------------------------*/
/* CARDS
------------------------------------*/
.cards {
	width: 100%;
	&__item {
		position: relative;
		margin-bottom: 8px;
		&--historic {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-historic.png");
			}
		}
		&--inside {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-inside.png");

			}
		}
		&--funnel {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-funnel.png");				
			}			
		}
		&--tires {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-tires.png");				
			}			
		}
		&--eletric {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-eletric.png");
			}			
		}
		&--mechanic {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-mechanic.png");
			}				
		}
		&:last-child {
			margin-bottom: 0;
		}
		&__internal {
			min-height: 76px;
			background-color: #fff;
			border-radius: 2px;
			padding: 20px 0 20px 72px;
			position: relative;
			z-index: 1;
		}
		&__icon {
			width: 72px;
			height: 100%;
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: no-repeat scroll center center;
			z-index: 2;
		}
		&__steps {
			font-size: 1rem;
			color: #a9a8af;
			position: absolute;
			top: 10px;
			right: 8px;
		}
		&__title {
			font-size: 1.6rem;
			color: #4d4c59;
			font-weight: 600;
			line-height: 25px;
		}
		&__description {
			font-size: 1.2rem;
			line-height: normal;
			color: #8b8c99;
		}
	}
}
/* END CARDS
------------------------------------*/
/* PROGRESS
------------------------------------*/
.progress {
	width: 100%;
	height: 4px;
	background-color: #ECEDF2;
	position: relative;
	&__bar {
		width: 20%;
		height: 100%;
		background-color: #98e7d7;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
/* END PROGRESS
------------------------------------*/