/* STRUCTURE
------------------------------------*/
$s3_image_path: "https://s3-sa-east-1.amazonaws.com/autoavalia/";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	text-rendering: optimizelegibility;
	font-family: 'Poppins';
	color: #000;
}
.app {
	width: 100%;
	min-height: 100vh;
	position: relative;
	margin: 0 auto;
	background-color: #f3f5f8;
}
.container {
	width: calc(100% - 40px);
	height: auto;
	margin: 0 auto;
	position: relative;
	.header & {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.section--cards-auto-avalia &,
	.section--cards &,
	.section--answer &,
	.section--valuation & {
		width: calc(100% - 16px);
	}

}
/* END STRUCTURE
------------------------------------*/
/* BUTTON
------------------------------------*/
.button {
	width: 100%;
	height: 49px;
	display: block;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
	&--success {
		background-color: #50E3C2;
		&:before {
			width: 49px;
			height: 100%;
			background: url($s3_image_path + "icon-arrow-right.svg") no-repeat scroll center center;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	&--choose {
		width: calc(50% - 4px);
		height: 61px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		font-size: 1.6rem;
		font-weight: 600;
		color: #4D4C59;
		text-transform: initial;
	}
}
.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
/* END BUTTON
------------------------------------*/
/* SECTION
------------------------------------*/
.section {
	width: 100%;
	display: block;
	z-index: 1;
	&__title {
		color: #6b6b73;
		font-size: 1.8rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 7px;
		line-height: normal;
		.section--valuation & {
			color: #2E2D37;
			font-size: 1.3rem;
			line-height: 20px;
			font-weight: 600;
			text-align: center;
			margin-top: 16px;
		}	
	}
	&__description {
		color: #8b8c99;
		font-size: 1.4rem;
		text-align: center;
		line-height: normal;
	}
	&--auto-avalia {
		background-color: #fff;
		padding: 50px 0 20px 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		.brand-auto-avalia {
			width: 175px;
			height: auto;
			display: block;
			margin: 0 auto 27px auto;
		}	
	}
	&--cards-auto-avalia,
	&--answer {
		padding: 16px 0 0 0;
	}
	&--cards {
		padding: 16px 0 36px 0;
	}
	&--total-progress {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	}
	&--question {
		padding: 20px 0 30px 0;
		background-color: #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	}
	&--valuation {
		padding-bottom: 30px;
	}
}
/* END SECTION
------------------------------------*/
/* HEADER
------------------------------------*/
.header {
	width: 100%;
	height: 59px;
	background-color: #fff;
	display: block;
	z-index: 2;
	&__back {
		
	}
	&__brand {
		width: 127px;
		height: auto;
		display: block;
		margin: 0 auto;
		a {
			display: block;
			text-decoration: none;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}
/* END HEADER
------------------------------------*/
/* CARDS
------------------------------------*/
.cards {
	width: 100%;
	&__item {
		position: relative;
		margin-bottom: 8px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		cursor: pointer;
		&--total-progress {
			cursor: default;
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-total-progress.svg");
			}
		}		
		&--historic {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-historic.png");
			}
		}
		&--inside {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-inside.png");

			}
		}
		&--funnel {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-funnel.png");				
			}			
		}
		&--tires {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-tires.png");				
			}			
		}
		&--eletric {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-eletric.png");
			}			
		}
		&--mechanic {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-mechanic.png");
			}				
		}
		&--mechanic {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-mechanic.png");
			}				
		}
		&--report {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-report.png");
			}	
		}
		&--valuation {
			.cards__item__icon {
				background-image: url($s3_image_path + "icon-valuation.png");
			}	
		}		
		.section--cards-auto-avalia	& {
			background-color: #fff;
		}	
		&:last-child {
			margin-bottom: 0;
		}
		&__internal {
			min-height: 76px;
			background-color: #fff;
			border-radius: 2px;
			padding: 20px 0 20px 72px;
			position: relative;
			z-index: 1;
			.cards__item--total-progress & {
				padding: 20px 0 20px 82px;
			}
		}
		&__icon {
			width: 72px;
			height: 100%;
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: no-repeat scroll center center;
			z-index: 2;
			.cards__item--total-progress & {
				width: 82px;
			}		
		}
		&__steps {
			font-size: 1rem;
			color: #a9a8af;
			position: absolute;
			top: 10px;
			right: 8px;
		}
		&__title {
			font-size: 1.6rem;
			color: #4d4c59;
			font-weight: 600;
			line-height: 25px;
		}
		&__description {
			font-size: 1.2rem;
			line-height: normal;
			color: #8b8c99;
		}
	}
}
/* END CARDS
------------------------------------*/
/* PROGRESS
------------------------------------*/
.progress {
	width: 100%;
	height: 4px;
	position: relative;
	&__internal {
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #ECEDF2;
		.section--total-progress & {
			width: calc(100% - 35px);
		}
	}
	&__bar {
		width: 0%;
		height: 100%;
		background-color: #98e7d7;
		position: absolute;
		left: 0;
		bottom: 0;
		.section--total-progress & {
			border-radius: 7px;
		}
	}
	&__percent {
		font-size: 1.1rem;
		color: #8B8C99;
		position: absolute;
		right: 8px;
		top: -3px;
	}
	.section--total-progress & {
		height: 7px;
		border-radius: 7px;
		margin-top: 8px;
	}
}
/* END PROGRESS
------------------------------------*/
/* QUESTION
------------------------------------*/
.question {
	&__icon {
		width: 100px;
		height: 100px;
		display: block;
		position: relative;
		background-color: #f3f3f4;
		border-radius: 50%;
		margin: 0 auto;
		&__image {
			width: 82px;
			height: 82px;
			background-color: #fff;
			display: block;
			border-radius: 50%;
			position: absolute;
			top: 9px;
			left: 9px;
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
		}
	}
	&__title {
		font-size: 1.8rem;
		font-weight: 600;
		text-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35);
		color: #6B6B73;
		text-align: center;
		line-height: normal;
		margin-top: 13px;
	}
	&__description {
		font-size: 1.4rem;
		line-height: 21px;
		color: #8B8C99;
		text-align: center;
		margin-top: 7px;
	}
}
/* END QUESTION
------------------------------------*/